@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: #ffba08;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100vw; */
  height: auto;
}

.about h1 {
  font-size: 2.5rem;
  margin-top: 2vh;
}

.about p {
  font-size: 1.5rem;
  width: 60vw;
  text-align: left;
  margin-top: 2vh;
}

.about img {
  width: 20vw;
  height: 20vw;
  margin-top: 5vh;
  margin-bottom: 3vh;
  border: 5px solid black;
}
