<!DOCTYPE html>
<html lang='en'>

<head>
    <meta class="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Page Not Found</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
    <link rel="manifest" href="static/images/site.webmanifest">
    <style>
        body {
            background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
        }
        
        .page-wrap {
            min-height: 100vh;
        }
        
        .display-4 {
            color: white;
        }
        
        .abc {
            color: white;
            text-decoration: underline;
            text-decoration-color: rgb(0, 0, 255);
        }
    </style>
</head>


<body>
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-4 d-block">Go <a href="/" class="abc">Home</a>, You are drunk.</span>
                </div>
            </div>
        </div>
    </div>
</body>