<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <title>Know The Project-What are Neuclotide?</title>
</head>
<body>
    <div class="about">

        <h1>what are neuclotide?</h1>
        <p>The nucleotide in DNA consists of a sugar (deoxyribose), 
            one of four bases (cytosine (C), thymine (T), adenine (A), 
            guanine (G)), and a phosphate. Cytosine and thymine are pyrimidine 
            bases, while adenine and guanine are purine bases. 
            The sugar and the base together are called a nucleoside.</p>
        <img src="{{ url_for('static', filename='images/img1.jpg') }}" alt="atgc-image">
        <p>ACGT is an acronym for the four types of bases found in a 
            DNA molecule: adenine (A), cytosine (C), guanine (G), 
            and thymine (T). A DNA molecule consists of two strands wound 
            around each other, with each strand held together by bonds between 
            the bases. Adenine pairs with thymine, and cytosine pairs with 
            guanine. The sequence of bases in a portion of a DNA molecule, 
            called a gene, 
            carries the instructions needed to assemble a protein.</p>
    </div>
</body>
</html>